/Exercise 1 - Augmented Reality Wireframe Cube/preview.mp4
/Exercise 1 - Augmented Reality Wireframe Cube/data/images/
/Exercise 2/Exercise 2 - PnP/data/images_undistorted/
/Exercise 2/Exercise 2 - PnP/video_cam.mp4
/Exercise 2/Exercise 2 - PnP/motion.wmv
/Exercise 3/Exercise 3 - Simple Keypoint Tracker/preview.mp4
/Exercise 3/Exercise 3 - Simple Keypoint Tracker/data/
/Exercise 5 - Stereo Dense Reconstruction/data/left/
/Exercise 5 - Stereo Dense Reconstruction/data/right/
